body{
    cursor: default;
    margin: 0;
    background-color: 58d4f4;
}


#header{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: xxx-large;
    text-align: center;
    background-color:#58d4f4;
    padding-bottom: 13px;
    padding-top: 13px;
}


#meny{
    background-color: brown;
    float: right;
    outline: 2px solid black;
    margin-top: 10px;   
    padding-bottom: 5px;
    text-align: center;
    font-size: x-large;
    width: 200px;
    margin-right: 10px;
    
}


#buy1,#buy2,#buy3,#buy4,#buy5,#buy6,#buy7,#buy8,#buy9,#buy10{
    height: 20px;
    width: 150px;
    background-color: green;
    margin-right: 15px;
    margin-left: 15px;
    outline: 1px solid black;
    flex: auto;
    flex-direction: row;
    color: white;
}



#firstup,#secondup,#thirdup
,#forthup,#fithup,#sixthup,#seventhup
,#eightup,#ninethup,#tenthup{
    margin: 3%;
    outline: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    margin: px;
    outline: 1px soild black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

#secondup{
    background-color: rgb(255, 232, 232);
}

#thirdup{
    background-color: rgb(250, 198, 198);
}


#forthup{
    background-color: rgb(255, 142, 142);
}


#fithup{
    background-color: rgb(255, 96, 96);
}


#sixthup{
    background-color: rgb(255, 56, 56);
}


#seventhup{
    background-color: rgb(255, 41, 41);
}

#eightup{
    background-color: rgb(255, 0, 0);
}


#ninethup{
    background-color: rgb(204, 0, 0);
}


#tenthup{
    background-color: rgb(134, 0, 0);

}

#hello{  
    height: 950px;
   
}

#bild{
    background-position: center;
    background-image: url("/bilder/haldor.webp");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 100%;
    display: inline;
    height: 700px;
    width: 500px;
    margin-top: 100px;
    margin-right: 270px;
   
}

#cookie-text{
    width: 250px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 200px;
    margin-left: 5px;
    padding: 5px;
    padding-bottom: 10px;
    border: black solid 3px;
    background-color: #58f465;
    height: 20px;
}

#butt{
    cursor: default;
    border: 0px;
    outline: 0px solid black;
    margin-top: 90px;
    width: 480px;
    height: 530px;
    background-color: transparent;
}

#flex{
    background-image: url("bilder/back.webp");
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#bild:hover{

    background-size: 505px;
}

#bild:active{

    background-size: 520px;
    animation-duration: 1s;
}


#buy1:active,#buy2:active,#buy3:active,#buy4:active,#buy5a:active,#buy6:active,#buy7:active,#buy8:active,#buy9:active,#buy10:active{
    width: 160px;
    height: 23px;
}

#dap{
    
    width: 100%;
    height: 175px;
    background-color: #58d45c;
    outline: 2px solid black;
    flex: auto;
    display: flex;
    flex-direction: row;
}

#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10{
    margin: 10px;
    width: 170px;
    height: 145px;
    outline: 2px solid black;
    
}

#butt1,#butt2,#butt3,#butt4,#butt5,#butt6,#butt7,#butt8,#butt9,#butt10{
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
    width: 140px;
    outline: dotted black 2px;
    background-color: rgb(143, 0, 0);
    color: white
}

#cps-text,#cps-text2,#cps-text3,#cps-text4,#cps-text5,#cps-text6,#cps-text7,#cps-text8,#cps-text9#cps-text10{

    margin-left: 30px;
}


@media (min-width: 481px) {
   
}