body{
    cursor: default;
    margin: 0;
    background-color: blue;
}


#header{
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: xxx-large;
    text-align: center;
    background-color:#58d4f4;
    padding-bottom: 13px;
    padding-top: 13px;
}


#meny{
    background-color: brown;
   float: right;
    outline: 2px solid black;
    margin-top: 10px;   
    padding-bottom: 5px;
    text-align: center;
    font-size: x-large;
    width: 200px;
    margin-right: 10px;
    
}


#buy1,#buy2,#buy3,#buy4,#buy5,#buy6,#buy7,#buy8,#buy9,#buy10{
    height: 20px;
    width: 150px;
    background-color: green;
    margin-right: 15px;
    margin-left: 15px;
    outline: 1px solid black;
    flex: auto;
    flex-direction: row;
}



#firstup,#secondup,#thirdup
,#forthup,#fithup,#sixthup,#seventhup
,#eightup,#ninethup,#tenthup{
    margin: 3%;
    outline: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    margin: px;
    outline: 1px soild black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#secondup{
    background-color: rgb(255, 232, 232);
}

#thirdup{
    background-color: rgb(250, 198, 198);
}


#forthup{
    background-color: rgb(255, 142, 142);
}


#fithup{
    background-color: rgb(255, 96, 96);
}


#sixthup{
    background-color: rgb(255, 56, 56);
}


#seventhup{
    background-color: rgb(255, 41, 41);
}

#eightup{
    background-color: rgb(255, 0, 0);
}


#ninethup{
    background-color: rgb(204, 0, 0);
}


#tenthup{
    background-color: rgb(134, 0, 0);

}

#hello{  
    height: 950px;
   
}

#bild{
    background-position: center;
    background-image: url("bilder/haldor.png");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 100%;
    display: inline;
    height: 700px;
    width: 500px;
    margin-top: 100px;
    margin-right: 270px;
   
}

#cookie-text{
    width: 200px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 200px;
    margin-left: 5px;
    padding: 5px;
    padding-bottom: 10px;
    border: black solid 3px;
    background-color: #58f465;
    height: 20px;
}

#butt{
    cursor: default;
    border: 0px;
    outline: 0px solid black;
    margin-top: 90px;
    width: 480px;
    height: 530px;
    background-color: transparent;
}

#flex{
    background-image: url("bilder/back.jpg");
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#bild:hover{

    background-size: 505px;
}

#bild:active{

    background-size: 520px;
    animation-duration: 1s;
}


#buy1:active,#buy2:active,#buy3:active,#buy4:active,#buy5a:ctive,#buy6:active,#buy7:active,#buy8:active,#buy9:active,#buy10:active{
    width: 10px;
    height: 1000px;
}
